<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639527318469-lnidcsaqlcl14e5q6aprmcmql18o97bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639527318469-lnidcsaqlcl14e5q6aprmcmql18o97bc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639527318469-5vedls2mmlg39thks3nalugl0msgppa3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1JZNRsoSe33OqvW0MTV3t0uxCp8omGCc</string>
	<key>GCM_SENDER_ID</key>
	<string>639527318469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ninegag.moves.ios.app</string>
	<key>PROJECT_ID</key>
	<string>ninegag-moves</string>
	<key>STORAGE_BUCKET</key>
	<string>ninegag-moves.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639527318469:ios:6c3f06e9bd383cb50511ac</string>
</dict>
</plist>