<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233233604356-ailkook4kh9avr3smuibmjitsi3dlro0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233233604356-ailkook4kh9avr3smuibmjitsi3dlro0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>233233604356-b6gsgsfv69vitodrhamttfd8asdqm7i4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6cI-ouqP_5Gh65ojdKV6C869guvaN_nc</string>
	<key>GCM_SENDER_ID</key>
	<string>233233604356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ninegag.move.app</string>
	<key>PROJECT_ID</key>
	<string>ninegag-move-test</string>
	<key>STORAGE_BUCKET</key>
	<string>ninegag-move-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233233604356:ios:95529c1ce0dc7e0752fa51</string>
</dict>
</plist>